:root {
  --white: #ffffff;
  --black: #000000;
  --yellow: #ffd700;
  --red: #ff3131;
  --blue: #00a8e8;
  --green: #7de247;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
