@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --white: #ffffff;
  --black: #000000;
  --yellow: #ffd700;
  --red: #ff3131;
  --blue: #00a8e8;
  --green: #7de247;
  --grid: #909090;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  cursor: var(--cursor-normal);
}

::-webkit-scrollbar {
  display: none;
}

body,
html {
  height: 100vh;
  font-family: "Roboto";
}

#nav {
  width: 100%;
  height: 75px;
  background-color: var(--red);
  position: absolute;
  bottom: 0;
  transition: 0.6s ease-in-out;
  opacity: 0;
  transform: translateY(10px);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#nav:hover {
  transform: translateY(0px);
  opacity: 1;
}

#nav-fixed {
  width: 100%;
  height: 75px;
  background-color: var(--red);
  transition: 0.6s ease-in-out;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-link {
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  color: var(--yellow);
  font-weight: bold;
  font-size: 1.2rem;
  border-bottom: 4px solid transparent;
  transition: 0.3s ease-in-out;
}

.nav-link:hover {
  padding-bottom: 10px;
  border-bottom-color: var(--yellow);
}

#nav-logo {
  background-color: white;
  border-radius: 50%;
  border: 6px solid var(--red);
  transform: translateY(-30%);
}

#wrapper {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.screen {
  height: 100dvh;
  width: 100vw;
  min-width: 100vw;
  flex-shrink: 0;
  scroll-snap-align: start;
}

#home {
  background-color: var(--yellow);
  font-family: "Roboto Condensed";
}

#what-we-do {
  background-color: var(--yellow);
}

#about {
  background-color: white;
  background-image: linear-gradient(to right, var(--grid) 1px, transparent 1px),
    linear-gradient(to bottom, var(--grid) 1px, transparent 1px);
  background-size: 100px 100px;
}

#projects {
}

#testimonials {
}

#contact {
}

@media (max-width: 768px) {
  .nav-link {
    font-size: 0.8rem;
  }

  #nav-logo {
    transform: translateY(-50%);
  }
}
